<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <aside>
        <img src="./assets/images/fitness_logo.png" alt="Fitness Now"
        class="img-responsive center-block"
        style="max-height:300px;padding-bottom:20px" />
      </aside>
      <article>
        <div class= "text-center" style="text-align:center">
          <h1>FITNESS NOW</h1>
          <H5>Plan and Track your Training Goals!</H5>

          <div class="text-center">Developed by:</div>
          <div class="text-center"><h5>Lester Andrade</h5></div>
          <div class="text-center">LTI - Java Foundation Training</div>
        </div>
        
      </article>
      
      
    </div>
  
  </div>
</div>
<!--
      <div class="text-center">
        <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
      
      </div>
      -->